					<!-- FOOTER START -->
					<footer>
						<!-- Footer-area start -->
						<div class="footer-area footer-2">
							<div class="container">
								<div class="row">
									<div class="col-lg-4 col-md-6">
										<div class="single-footer">
											<h3 class="footer-title  title-border">Contact Us</h3>
											<ul class="footer-contact">
												<li><span>Address :</span>Lang Thuong, Dong Da,<br>Ha Noi, Viet Nam</li>
												<li><span>Cell-Phone :</span>012345 - 123456789</li>
												<li><span>Email :</span>hahuynhim2003@gmail.com</li>
											</ul>
										</div>
									</div>
									<div class="col-lg-2 col-md-3 col-sm-6">
										<div class="single-footer">
											<h3 class="footer-title  title-border">accounts</h3>
											<ul class="footer-menu">
												<li><a href="/my-account"><i class="zmdi zmdi-dot-circle"></i>My Account</a></li>
												<li><a href="/wishlist"><i class="zmdi zmdi-dot-circle"></i>My Wishlist</a></li>
												<li><a href="/cart"><i class="zmdi zmdi-dot-circle"></i>My Cart</a></li>
												<li><a href="/signup"><i class="zmdi zmdi-dot-circle"></i>Sign In</a></li>
												<li><a href="/checkout"><i class="zmdi zmdi-dot-circle"></i>Check out</a></li>
											</ul>
										</div>
									</div>
									<div class="col-lg-2 col-md-3 col-sm-6">
										<div class="single-footer">
											<h3 class="footer-title  title-border">Another</h3>
											<ul class="footer-menu">
												<li><a href="/about"><i class="zmdi zmdi-dot-circle"></i>About us</a></li>
												<li><a href="/contact"><i class="zmdi zmdi-dot-circle"></i>Contact</a></li>
											</ul>
										</div>
									</div>
									<div class="col-lg-4 col-md-6">
										<div class="single-footer newsletter-item">
											<h3 class="footer-title  title-border">Email Newsletters</h3>
											<div class="footer-subscribe">
												<form action="#">
													<input type="text" name="email" placeholder="Email Address..." />
													<button class="button-one submit-btn-4" type="submit" data-text="Subscribe">Subscribe</button>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Footer-area end -->
						<!-- Copyright-area start -->
						<div class="copyright-area copyright-2">
							<div class="container">
								<div class="row">
									<div class="col-md-6">
										<div class="copyright">
											<p class="mb-0">&copy; <a href="https://themeforest.net/user/codecarnival/portfolio" target="_blank">CodeCarnival </a> 2022. All Rights Reserved.</p>
										</div>
									</div>
									<div class="col-md-6">
										<div class="payment  text-md-end">
											<a href="#"><img src="/img/payment/1.png" alt="" /></a>
											<a href="#"><img src="/img/payment/2.png" alt="" /></a>
											<a href="#"><img src="/img/payment/3.png" alt="" /></a>
											<a href="#"><img src="/img/payment/4.png" alt="" /></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Copyright-area start -->
					</footer>
					<!-- FOOTER END -->
		<!-- all js here -->
		<!-- jquery latest version -->
		<script src="/js/vendor/jquery-3.6.0.min.js"></script>
		<script src="/js/vendor/jquery-migrate-3.3.2.min.js"></script>
		<!-- bootstrap js -->
		<script src="/js/bootstrap.bundle.min.js"></script>
		<!-- jquery.meanmenu js -->
		<script src="/js/jquery.meanmenu.js"></script>
		<!-- slick.min js -->
		<script src="/js/slick.min.js"></script>
		<!-- jquery.treeview js -->
		<script src="/js/jquery.treeview.js"></script>
		<!-- lightbox.min js -->
		<script src="/js/lightbox.min.js"></script>
		<!-- jquery-ui js -->
		<script src="/js/jquery-ui.min.js"></script>
		<!-- jquery.nivo.slider js -->
		<script src="/lib/js/jquery.nivo.slider.js"></script>
		<script src="/lib/home.js"></script>
		<!-- jquery.nicescroll.min js -->
		<script src="/js/jquery.nicescroll.min.js"></script>
		<!-- countdon.min js -->
		<script src="/js/countdon.min.js"></script>
		<!-- wow js -->
		<script src="/js/wow.min.js"></script>
		<!-- plugins js -->
		<script src="/js/plugins.js"></script>
		<!-- main js -->
		<script src="/js/main.min.js"></script>
		<!-- user js -->
		<script src="/js/user.js"></script>
	</body>
	</html>